@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Hi, I am Gourab</h3>
<br/>
<p>I am a software developer with around 5 years experience in MS Technologies. I am well-versed in ASP.NET MVC, WCF, WebAPI, Entity Framework/LINQ etc. </p>
<br/>
<p>Currently working for Accenture, I am looking for any possible opportunity preferably with a product-based farm where quality matters more than quantity.</p>
