@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>You can reach me at</h3>

<address>
    Sri Venkateshwara Layout<br />
    Marathahalli, Bangalore 560037<br />

</address>

<address>
    <strong>Email:</strong> <a href="mailto:gourab.bose@outlook.com">gourab.bose@outlook.com</a><br />
    <strong>Mobile:</strong> <a href="javascript:void(0)">9674292064</a><br />
</address>

<address>
    Currently I am working out of a secure bay where mobile phone is not allowed. In case you want to reach me, please drop an email with your contact number. 
</address>
